{
  "env": {
    "TOKEN": "token",
    "TOPGG": "token",
    "DEBUG_MODE": 1,
    "restWsBridgeTimeout": 5000,
    "restTimeOffset": 500,
    "restRequestTimeout": 15000,
    "restSweepInterval": 60,
    "retryLimit": 1,
    "NODE_ENV": "development"
  }
}